* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
}

.main {
    display: flex;
    flex-direction: column;
}

input {
    width: 250px;
    height: 40px;
    font-size: 16px;
}

.live-search {
    text-align: center;
}

.suggested-value {
    width: 250px;
    /* height: 50px; */
    margin: auto;
    background-color: beige;
    border: 1px solid black;
    display: block;
}

.suggested-value:hover {
    background-color: azure;
}

.suggested-value p {
    margin-top: auto;
    text-align: left;
    margin-left: 12px;
}

.suggested-value:nth-child(n + 6) {
    display: none;
}

.profile {
    max-width: 300px;
    border: 1px solid black;
    background-color: aqua;
    margin: 0 auto;
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.profile p {
    margin-top:  5px;
    margin-left: 8px;
}

.profile p:last-child {
    margin-bottom: 7px;
}

.repos-container {
    margin-top: 20px;
}

.delete-button {
    background-image: url(img/close.svg);
    background-color: transparent;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    padding: 0;
    border: none;
    margin: auto 12px auto;
}